:root{
    --bg-primary: #e1e7f3;
    --gradient-box-w: linear-gradient(145deg, var(--bg-primary), #ffffff);
    --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}

body {
    background-color: var(--bg-primary) !important;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.gradient-with-shadow
{
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
}